.authContainer{
    background-image: url("https://cdn.pixabay.com/photo/2017/01/25/12/31/bitcoin-2007769_640.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-repeat: none;
    background-position: center;
}
.bgBlur{
    backdrop-filter: blur(5px);
}